@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@layer components {
    .hover-navbar {
        @apply hover:text-slate-400 transition duration-150 m-2 uppercase text-sm font-poppins
    }
    .btn-plus {
        @apply flex-all-center h-full text-lg aspect-square rounded-md text-slate-300 bg-slate-700 leading-relaxed font-medium
    }
    .btn-minus {
        @apply flex-all-center h-full text-lg aspect-square rounded-md text-slate-300 bg-slate-700 leading-relaxed font-medium
    }
    .flex-all-center {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
}
